
h1{
    font-family: serif;
    font-style: italic;
    font-size: 250%;

}

html{
    background: url(/src/Images/erol-ahmed-AmzKuEnr1VY-unsplash.jpg)
}

.dropbtn {
    background-color: tan;
    color: brown;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: block;
    position: relative;
    margin-left: auto;

}

.dropdown {
    position: relative;
    display: inline-block;
    

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: burlywood;
    min-width: 160px;
    box-shadow: chocolate;
    z-index: 1;
}

.dropdown-content a{
    color: brown;
    padding: 12px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content{
    display: block;
}

